# === ENV files ===
.env
*.env.local

# === Node modules ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Build / dist ===
dist/
build/

# === System files ===
.DS_Store
Thumbs.db

# === Docker ===
Dockerfile
docker-compose.yml

# === Logs ===
logs
*.log
